@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:wght@200;300;400;600;700&display=swap');
@import "tailwindcss";

@theme{
  --font-family:  "Nunito", serif;
  --color-bg:#1f1f1f;
  --color-2ndbg:#454545;
  --color-primary: #0dbc79;
}